<div class="flex flex-col gap-5">
    <div>
        <app-agregar-producto/>
    </div>
    <div>
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Nombre del producto
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Subtitulo
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Calidad
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Material
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Precio
                    </th>
                </tr>
            </thead>
            <tbody>
                @for (sombrero of sombreros; track sombrero.id) {
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            {{sombrero.nombre}}
                        </th>
                        <td class="px-6 py-4">
                            {{sombrero.subtitulo}}
                        </td>
                        <td class="px-6 py-4">
                            {{sombrero.calidad}}
                        </td>
                        <td class="px-6 py-4">
                            {{sombrero.material}}
                        </td>
                        <td class="px-6 py-4">
                            $ {{sombrero.precio}}
                        </td>
                    </tr>
                }
               
                
            </tbody>
        </table>
    </div>
</div>
